_Store
nbproject/*
nbproject
.idea
.vimrc
.powrc
.vim
.rvmrc
.sass-cache/
/.bundle
.yardoc/*

log
log/*.log
tmp
tmp/**/*
tmp/**/**/*
tmp/*
log/*

solr
solr/*

.project
*.sw*
public/assets/**/*
public/assets/*
coverage/*
ERD.pdf
# Gemfile.lock
db/*.db
/db/*.sqlite3

doc/*

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
config/settings.yml
config/config.yml
config/database.yml
config/database.yml.mysql
config/database.yml.sqlite3
config/hallist.pem
config/newrelic.yml
*.dump
*.dat
ssl/*

