#products


- content_for :javascript do
  $(window).load(function() {
  $container = $('#products');
  $container.masonry({ isFitWidth: true, columnWidth: 240 });
  $('.profile-collections').masonry({isFitWidth: true});
  window.router = new Arto.Routers.ProductsRouter({products: #{@likes}});
  Backbone.history.start({pushState: true});
  //window.scrollInfinite.active = true;
  });