.header-info
  %center
    %h1 WHAT'S HALLIST?

.static-content-arto
  %center
    .form-contact
      .text-about
        Hallist is a website that allows you and your friends to own a HALL and collect artwork from
     
        your favorite artists in it. We believe art is beautiful and everybody has the right to collect it.
 
        Also, since we know that sharing is caring, why not sharing your HALL with your friends or
  
        the rest of the world? Personalize & customise your HALL, so people can visit your collections.
        %br
        %br
        But wait, this isn't everything! You can actually own the artwork stored in your HALLS and buy it!
        So you can physically appreciate it and have it in your home, office or gallery.
        %br
        %br
        HALLIST is the perfect tool to connect artists with followers, fans and collectors (whether
     
        they are beginners or high rollers). It's your own space, with your artistic tastes.
        %br
        %br
        Use HALLIST to collect, share or buy the artworks of you most loved and newly discovered artists.



