//= require bootstrap-responsive.min
//= require bootstrap.min
//= require bootstrap-scroll-modal
//= require base
//= require products
//= require collections
//= require chosen
//= require checkout
//= require myaccount
//= require jquery.jgrowl
//= require artwork
//= require artists
//= require hallists
//= require profile
//= require signup
//= require datepicker
//= require artwork/dashboard

.container-fluid#header {padding: 0;}

.modal-backdrop.fade.in { background: rgba(255, 255, 255, 0.2);}

.container{
  &.dotted-line{
    width: 95.1%;
    margin-top: 3%;
    margin-left: 3.5%;
    border-top: dotted 1px #999;
  }
}

#banner{
  width: 100% !important;
  #carousel-index {
    margin-left: -20px !important;
    margin-top: -14px !important;

    #carousel-control-left{

    }
    #carousel-control-right{
      left: 65px;
    }
    .carousel-control{
      position: absolute;
      top: 40%;
      left: 15px;
      width: 40px;
      height: 40px;
      margin-top: -20px;
      font-size: 70px;
      font-weight: 100;
      line-height: 30px;
      color: #59FF00;
      text-align: center;
      opacity: .7;
      filter: alpha(opacity=50);
    }

    #publicidad-header{
      position: absolute;
      height: 280px;
      top: -16px;
      float: left;
      left: auto;
      right: -14px;
    }

    #nombre-publicidad{
      position: absolute;
      top: 27px;
      right: 34px;
      color: #59FF00;
      font-size: 16px;
      text-align: right;
      line-height: 30px;
      opacity: 1;
      width: 155px;

      #contenido-publicidad{
        color: #fff;
        font-size: 12px;
      }
    }
  }
}


