.signup-steps {
  margin-top: -15px;
}

.registrations {
  #edit_user_section {
    max-width: 1024px;
  }
}

.checkbox-user {
  span {
    position: relative;
    top: 26px;
  }
}

.terms_service{
  display: none;
}


.terms_service_show{
  display: block !important;
}