.registrations {
  #edit_user_section {
    max-width: 1024px;
    label{
      display: inline-block !important;
    }
  }
}

.checkbox-user {
  span {
    position: relative;
    top: 26px;
  }
}

.check{
  width: 20px !important;
  margin: 0px !important;
}
