.gray-main-container-checkout
  .row-fluid
    %center
      %h1#title-checkout CHECKOUT
    #checkout_section.span10
      .span6
        %legend 1. YOUR ORDER
      .span6
        %legend
          %center
            .span4
              QUANTITY
            .span4
              PRICE
            .span4
              SUBTOTAL
  = render :partial => 'form'
