.gray-main-container-checkout
  .row-fluid
    #checkout_section.span10
      .span6
        %legend 1. YOUR ORDER
      .span6
        %legend
          %center
            .span4
              QUANTITY
            .span4
              PRICE
            .span4
              SUBTOTAL
  = render :partial => 'form'


- content_for :javascript do
  $(document).ready(function () {
  if(!window.current_user){
  $('#artwork-details-modal').modal('hide');
  Arto.popovers.closeCart();
  $('#login-modal').modal({
  keyboard: false,
  backdrop: 'static'
  });
  $('.login-close-modal').click(function(){
  window.location.href = '/';
  });
  }
  });